@model TorrentSite.ViewModels.TorrentViewModel

<h2>Title: @Model.Title</h2>

<div class="hero-unit">
    <div>
        @if (Model.Image != null)
        {
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" />
        }
        else
        {
            <p>No image!</p>
        }

        @Html.ActionLink("Download", "Download", "Torrents", new { fileLink = Model.FileLink }, null)
        <h3>Description</h3>
        <p>@Model.Description</p>
        <section id="download-info">
            <dl>
                <dt>TimesDownloaded:</dt>
                <dd>@Model.TimesDownloaded</dd>
                <dt>Seeders:</dt>
                <dd>@Model.Seeders</dd>
                <dt>Leechers:</dt>
                <dd>@Model.Leechers</dd>
            </dl>
        </section>
        <section id="common-info">
            <dl>
                <dt>Uploaded On:</dt>
                <dd>@Model.DateCreated</dd>
                <dt>Rating:</dt>
                <dd>@Model.Rating / 5</dd>
                <dt>Size:</dt>
                <dd>@Model.Size</dd>
                <dt>Categories:</dt>
                <dd>@string.Join(", ", Model.Category.Select(c => c.Name))</dd>
            </dl>
        </section>
        <br />
        <div id="Comments">
            @foreach (var comment in Model.Comments)
            {
                @Html.Partial("_CommentPartial", comment)
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Comments", OnFailure = "commentPostFailure" }))
            {
                @Html.Hidden("TorrentId", Model.Id)
                @Html.TextArea("comment")
                @Html.AntiForgeryToken()
                <input type="submit" value="Submit comment" />
            }
        }

    </div>
</div>